
        <section class="col-sm-8">
            <ul class="list-inline list-unstyled">
                <li class="firstItem" style="margin-left: 3%;">Adatvédelmi nyilatkozat</li>
                <li>Süti politika</li>
                <li>Rólunk</li>
                <li>Moodle oktatási anyagok</li>
                <li><a target="_blank" href="http://www.smart-computers.eu">Szoftver- és webfejlesztés</a></li>
                <li>Álláskeresőknek</li>
                <li>Álláshirdetőknek</li>
                <li>Oktatás</li>
               <!-- <li>Janos Lakatos Production</li> --> 
              <li>Prisoftinno technologies s.r.o.</li>
            </ul>
        </section>

