


<section class="row">

        <h4 class="tanfolyamokH4">Tanfolyamok</h4>

</section>

<section class="row">
    <section id="it-tanfolyam-programozas-csharp-80" class="col-sm-12 curseTitle">
        <h5>@Html.ActionLink("C# programozó tanfolyam online + 80 gyakorlati óra", "Csharp_Programozo_Tanfolyam", "InformatikaiTanfolyamok")</h5>
    </section>
</section>

<section class="row">
    <section id="it-tanfolyam-programozas-csharp-40" class="col-sm-12 curseTitle">
        <h5><a href="http://workinghunter.com/informatikai-tanfolyamok/csharp-dotnet-programozas-tanfolyam-80.aspx">C# programozás online + 80 óra gyakorlat</a></h5>

    </section>
</section>

<section class="row">
    <section id="it-tanfolyam-webprogramozas-80" class="col-sm-12 curseTitle">
        <h5>@Html.ActionLink("ASP.NET webprogramozás online + 80 óra gyakorlat", "AspNet_wwebpogramozo_tanfolyam", "InformatikaiTanfolyamok")</h5>
    </section>
</section>

<section class="row">
    <section id="it-tanfolyam-cikk-php-programozas-80" class="col-sm-12 curseTitle">
        <h5>@Html.ActionLink("PHP programozás online + 80 óra gyakorlat", "php_webprogramozo_tanfolyam", "InformatikaiTanfolyamok")</h5>
    </section>
</section>

<section class="row">
    <section id="it-tanfolyam-cikk-php-rendszergazda-linux" class="col-sm-12 curseTitle">
        <h5>@Html.ActionLink("Linux rendszergazda tanfolyam", "kezdo_linux_tanfolyam", "InformatikaiTanfolyamok")</h5>

    </section>
</section>

<section class="row">
    <div class="fb-page" data-href="https://www.facebook.com/workinghuntermagyarorszag/" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/workinghuntermagyarorszag/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/workinghuntermagyarorszag/">Workinghunter Magyarország</a></blockquote></div>


</section>


    
