@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container">

    <div class="container LeftContainer">
        <div class="row">
            <div class="col-sm-8">
                <h1>C# programozási tanfolyam - online + 40 óra gyakorlat</h1>
                <table class="infoTable">
                    <tr>
                        <td>Gaykorlati órák száma:</td>
                        <td>40</td>
                    </tr>
                    <tr>
                        <td>Online kurzus:</td>
                        <td>Igen</td>
                    </tr>
                    <tr>
                        <td>Nem OKJ tanfolyam!</td>
                        <td>Tanúsítvány jár a képzés végén, amennyiben sikeresen vizsgázott!</td>
                    </tr>
                    <tr>
                        <td>Teljes ár:</td>
                        <td><strong>84 990 FT</strong></td>
                    </tr>
                   

                </table>
                <h3 class="topSpace25">A C# programozói tanfolyam időpontok</h3>

                <table class="leftCol topSpace25">
                    <tr>
                        <td colspan="2">
                            2018.10.25(Csütörtök) Kedd,Csütörtök (17:00h - 20:15h) 11hét
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            2018.11.10(Szombat) Oktatási rend: Szombat (8:30h - 15:00h) 10hét
                        </td>
                    </tr>

                </table>

                <p class="topSpace25">Helyszín: 1139 Budapest, Frangepán utca </p>

                <section id="thematics">
                    <details>
                        <summary>Programozási stílusok, futtató rendszerek</summary>
                        <p class="mgl30">Imperatív nyelvek</p>
                        <p class="mgl30">Applikatív nyelvek</p>
                        <p class="mgl30">Logikai nyelvek</p>
                        <p class="mgl30">Objetum-orientált nyelvek</p>
                        <p class="mgl30">Direkt futtatás</p>
                        <p class="mgl30">Interpreteres futtatás</p>
                        <p class="mgl30">Virtuális futtatás</p>
                    </details>



                    <details>
                        <summary>A .NET Framework</summary>

                    </details>

                    <details>
                        <summary>Programozási alapismeretek</summary>
                        <p class="mgl30">Adattípusok</p>
                        <p class="mgl30">Vezérlési szerkezetek</p>
                        <p class="mgl30">Literálok, változók</p>
                        <p class="mgl30">Hatáskör és élettartam</p>
                        <p class="mgl30">Alapvető adatszerkezetek és algoritmusok</p>
                    </details>

                    <details>
                        <summary>Programozási alapismeretek</summary>
                        <p class="mgl30">Adattípusok típuscsaládok</p>
                        <p class="mgl30">Vezérlési szerkezetek</p>
                        <p class="mgl30">Literálok, változók</p>
                        <p class="mgl30">Hatáskör és élettartam</p>
                        <p class="mgl30">Alapvető adatszerkezetek és algoritmusok</p>
                        <p class="mgl30">Operátorok</p>
                    </details>

                    <details>
                        <summary>Programozás C# nyelven</summary>
                        <p class="mgl30">Átalakítás, konvertálás (Parse,Convert)</p>
                        <p class="mgl30">Véletlenszámok előállítása</p>
                        <p class="mgl30">Elágazások,ciklusok,foreach</p>
                        <p class="mgl30">Tömbök, listák</p>
                        <p class="mgl30">Struct, enum</p>
                        <p class="mgl30">Rekordok</p>
                        <p class="mgl30">Eljárások, függvények, közös változók</p>
                        <p class="mgl30">Kimenő, átmenő paraméterek</p>
                        <p class="mgl30">Text file kezelés</p>
                    </details>

                    <details>
                        <summary class="lastSummary">Objektum Orientált Programozás</summary>
                        <p class="mgl30">Védelmi szintek és adatrejtés</p>
                        <p class="mgl30">Adattagok, metódusok</p>
                        <p class="mgl30">Öröklődés</p>
                        <p class="mgl30">Kötések és Virtuális Metódus Tábla</p>
                        <p class="mgl30">Konstruktor, destruktor</p>
                        <p class="mgl30">THIS,Static,Sealed</p>
                        <p class="mgl30">Névterek (Namespace)</p>
                        <p class="mgl30">Abstract osztályok, interface</p>
                        <p class="mgl30">Kivételkezelés</p>
                        <p class="mgl30">Partial class</p>
                        <p class="mgl30">Boxing-unboxing</p>
                        <p class="mgl30">Callback függvények</p>
                        <p class="mgl30">Reflection</p>
                    </details>

                </section>

                <h3>Hogyan oktatjuk a programozást a Workinghunternél</h3>
                <section id="pre">
                    <p>
                        <b>
                            Nagyon jól tudjuk, hogy egy programozó tapasztalata a megírt sorok számától és a feladat bonyolultságától függ.
                            Minden szoftverfejlesztő tanfolyamunkhoz nagyon erős elméleti alapot biztosítunk, majd még több programozást!

                        </b>
                    </p>
                    <p>
                        <b>Kötelezően beküldendő feladatok az online - elméleti képzés alatt:</b>
                        <span></span>
                        <ul>

                            <li>Az e-learning rendszerben megtalálható alapvető algoritmusok alkalmazásának megtanulása</li>
                            <li>Szövegfeldolgozó (Text+XML) alkalmazás készítése az IO témakör végén</li>
                            <li>Minden témakör végén egy legalább 500 soros program készítése</li>
                        </ul>
                    </p>

                    <p>
                        A 80 gyakorlati óra, kontakt óra lesz. Az oktató, mentor segítségével komplett alkalmazásokat fogunk készíteni.

                    </p>
                    <p>Az elkészített alkalmazások jelentős része ügyviteli lesz, de meg tanuljuk az Operációs rendszer diagnosztikai rendszerét is elérni! </p>
                    <p>Megismerkedünk néhány programtervezési mintával, az adatbázis kezeléssel, valamint a Windows Forms alapjaival.</p>

                    <p>A tanfolyam elvégzését követően, további .NET technológiák megismerésére lesz lehetőséget, mint pl.: ASP.NET, WPF, WCF, MVC és még a tanfolyam keretein belül szó lesz a platform független fejlesztésről is! </p>

                </section>
            </div>

            <div class="col-sm-4">
                @Html.Partial("_TanfolyamOldalsoMenu")


            </div>


        </div>





    </div>

</div>