@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">

    <div class="container LeftContainer">
        <div class="row">
            <div class="col-sm-8">
                <h1>Kezdő Linux tanfolyam</h1>
                <div class="col-sm-8 leftCol">

                    <table class="infoTable">
                        <tr>
                            <td>Gyakorlati órák száma:</td>
                            <td>48 (6 alkalom)</td>
                        </tr>
                        <tr>
                            <td>Online kurzus:</td>
                            <td>Igen</td>
                        </tr>
                        <tr>
                            <td>Nem OKJ tanfolyam!</td>
                            <td>Tanúsítvány jár a képzés végén, amennyiben sikeresen vizsgázott!</td>
                        </tr>
                        <tr>
                            <td>Teljes ár:</td>
                            <td><s>104 900FT</s></td>
                        </tr>
                        <tr>
                            <td>Kedveményes ár:</td>
                            <td style="color:red;">74 900FT</td>
                        </tr>
                    </table>

                    <h6 class="customH6 topSpace25">A kezdő Linux tanfolyam időpontok</h6>
                                
                    <table class="topSpace25">
                        <tr>
                            <td colspan="2">
                                2018.10.20(Vasárnap) Vasárnap (08:00h - 15:00h) 11hét
                            </td>
                        </tr>
                    </table>

                    <img class="img-thumbnail topSpace25" src="~/Content/Img/linux-tanfolyam-workinghunter.jpg" alt="Linux-rendszergazda-tanfolyam" title="Tanuld meg a Linux alapjait!" />

                    <section id="thematics topSpace25">
                        <details>
                            <summary>Alapok</summary>
                            <p class="mgl30">a linux történetének ismertetése</p>
                            <p class="mgl30">a rendszer sajátosságainak bemutatása</p>
                            <p class="mgl30">telepítés</p>
                        </details>
                        <details>
                            <summary>Könyvtárszerkezetek bemutatása</summary>
                        </details>
                        <details>
                            <summary>CLI gyakorlatok, fájlkezelés</summary>
                        </details>

                        <details>
                            <summary> Általános parancsok ismertetése</summary>

                        </details>

                        <details>
                            <summary>Fontosabb programok bemutatása</summary>
                        </details>

                        <details>
                            <summary>Felhasználók és csoportok kezelése, jogosultságok</summary>
                        </details>

                        <details>
                            <summary>Hálózati alapok TCP/IP konfigurálás</summary>
                        </details>

                        <details>
                            <summary>Tartomány-vezérlés Linuxon</summary>
                            <p class="mgl30">Samba 4</p>
                        </details>
                </section>

                    <h3>A Linux tanfolyamról</h3>

                    <p><strong>A Linux tanfolyamra való jelentkezéshez nincs szükség előképzettséghez!</strong></p>



</div>
            </div>

            <div class="col-sm-4">
                @Html.Partial("_TanfolyamOldalsoMenu")


            </div>


        </div>





    </div>

</div>