@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="container LeftContainer">
        <div class="row">
            <div class="col-sm-8">
                <h1>MS Office tanfolyam</h1>
                <table class="infoTable">
                    <tr>
                        <td>Gaykorlati órák száma:</td>
                        <td>80</td>
                    </tr>
                    <tr>
                        <td>Online kurzus:</td>
                        <td>Igen</td>
                    </tr>
                    <tr>
                        <td>Nem OKJ tanfolyam!</td>
                        <td>Tanúsítvány jár a képzés végén, amennyiben sikeresen vizsgázott!</td>
                    </tr>
                    <tr>
                        <td>Teljes ár:</td>
                        <td>64 900 FT</td>
                    </tr>
                </table>

                <h3 class="topSpace25">MS Office tanfolyam időpontok</h3>

                <table class=" leftCol topSpace25">
                    <tr>
                        <td colspan="2">
                            2018.10.20(Szombat) Szombat, vasárnap (09:00h - 15:30h) kb. 7 alkalom
                        </td>
                    </tr>
                </table>


                <p class="topSpace25">Helyszín: 1139 Budapest, Frangepán utca</p>

                <img class="img-thumbnail topSpace25" src="~/Content/Img/office_tanfolyam_workinghunter.jpg" alt="PHP-webprogramozo-tanfolyam" title="Csatlakozz Te is a PHP webfejlesztők közé!" />

                <h3>Kiknek ajánljuk Office tanfolyamunkat?</h3>
                <p>
                    Mindazok számára, akiknek a munkájukhoz szükséges a kellő Office tudás! Szolgáltatásunkat igénybevételét bátran merjük ajánlani a KKV szektor válalkozásainak is!
                    Egy stabil Office tudással  nagyban javíthatjuk a munkavégzés hatékonyságát és mára a vállalkozások is alapvető készségként tekintenetek rá! 

                </p>
                
                
               



            </div>

            <div class="col-sm-4">
                @Html.Partial("_TanfolyamOldalsoMenu")


            </div>


        </div>





    </div>

</div>
