@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">

    <div class="container LeftContainer">
        <div class="row">
            <div class="col-sm-8">
                <h1>PHP webprogramozó tanfolyam - online + 80 óra gyakorlat</h1>

                <table class="infoTable">
                    <tr>
                        <td>Gaykorlati órák száma:</td>
                        <td>80</td>
                    </tr>
                    <tr>
                        <td>Online kurzus:</td>
                        <td>Igen</td>
                    </tr>
                    <tr>
                        <td>Nem OKJ tanfolyam!</td>
                        <td>Tanúsítvány jár a képzés végén, amennyiben sikeresen vizsgázott!</td>
                    </tr>
                    <tr>
                        <td>Teljes ár:</td>
                        <td><s>114 900FT</s></td>
                    </tr>
                    <tr>
                        <td>Kedveményes ár:</td>
                        <td style="color:red;">99 900FT</td>
                    </tr>
                </table>

                <h6 class="customH6 topSpace25">A PHP webprogramozó tanfolyam időpontok</h6>

                <table class="topSpace25">
                    <tr>
                        <td colspan="2">
                            2018.10.21(Vasárnap) Vasárnap (08:00h - 15:00h) 11hét
                        </td>
                    </tr>
                </table>

                <p class="topSpace25">Helyszín: 1139 Budapest, Frangepán utca</p>

                <img class="img-thumbnail topSpace25" src="~/Content/Img/php-html-it-tanfolyam.jpg" alt="PHP-webprogramozo-tanfolyam" title="Csatlakozz Te is a PHP webfejlesztők közé!" />

                <h3>PHP webprogramozó tanfolyam tematikája</h3>

                <section id="thematics">
                    <details>
                        <summary>Alapok</summary>
                        <p class="mgl30">1.	LAMP környezet (Linux-Apache-MySQL-PHP)</p>
                        <p class="mgl30">Apache, NGINX webszerver megismerése, összehasonlítása</p>
                        <p class="mgl30">MySQL(adatbáziskezelés) alapok, PhpMyAdmin konfigurálása</p>
                        <p class="mgl30">PHP fejlesztői környezet kialakítása Windows operációs rendszeren (XAMPP)</p>

                    </details>
                    <details>
                        <summary>HTML, CSS alapok</summary>
                    </details>
                    <details>
                        <summary>Programozási alapok </summary>
                        <p class="mgl30">Elágazások</p>
                        <p class="mgl30">Ciklusok</p>
                        <p class="mgl30">Függvények</p>
                        <p class="mgl30">Alapvető algoritmusok</p>
                    </details>

                    <details>
                        <summary> Programozás PHP nyelven</summary>
                        <p class="mgl30">PHP alapok (Szintaxis, Megjegyzések, Változók, Sztringek, Operátorok és kifejezések, Tömbök)</p>
                        <p class="mgl30">PHP globális változók</p>
                        <p class="mgl30">Adatbázis-kapcsolat</p>
                        <p class="mgl30">Űrlapok használata</p>
                        <p class="mgl30">Állománykezelés</p>
                        <p class="mgl30">Űrlapok használata</p>
                        <p class="mgl30">Objektumorientált programozás PHP-ban</p>
                        <p class="mgl30">Kivételkezelés</p>
                    </details>

                    <h3>PHP webprogramozó tanfolyamról</h3>

                    <section id="pre">
                        <p>
                            <b>
                                Az elméleti oktatás online alapú, rengeteg kóddal, tesztel és videóval ellátva. Megpróbáljuk elsajátítani a szerver oldali webprogramozást. Alapos elméleti tudást biztosítunk a gyakorlat megkezdéséhez, ahol már ténylegesen a kódolással és a webprogramozói gondolkodás elsajátításával fogunk foglalkozni!

                            </b>
                        </p>
                        <p>Amit biztosan megtanulunk:</p>
                        <ul>
                            <li>HTML/HTML5</li>
                            <li>CSS/CSS3</li>
                            <li>PHP</li>
                            <li>JavaScript alapok / Bootstrap</li>
                        </ul>

                        <p>Amiről biztosan szó lesz és alaposan elmagyarázzuk:</p>
                        <ul>
                            <li>HTTP,HTTPS,TCP,UDP, ..stb. protokollok</li>
                            <li>POST, GET</li>
                            <li>SQL motorok bemutatása</li>
                            <li>Az AJAX előnyei, hátrányai</li>
                            <li>Web biztonság</li>
                            <li>A SOAP webszolgáltatás </li>
                            <li>CMS rendszerekről általánosan (Wordpress,Joomla,Magento,OpenCart)</li>
                        </ul>

                        <p>Szükséges képzettség a tanfolyamra való jelentkezésre: nincs.</p>


                        <p>
                            A 80 gyakorlati óra, kontakt óra lesz. Az oktató, mentor segítségével komplett weboldalt(weboldalakat) fogunk készíteni.
                        </p>

                        <p><b>Válaszd a Workinghunter PHP web programozó tanfolyamát!</b></p>

                        <section id="plus">
                            <b>Ne érd be az alap tudással!</b>
                            <p>Online képzéssel biztosítjuk a következő technológiák megismerését, elsajátítását:</p>

                        </section>

                        <ul id="plusTanfolyam">
                            <li>jQuery</li>
                            <li>SEO alapok és eszközök</li>
                        </ul>

                    </section>

                    <h6 class="customH6 topSpace25">Kérdésed van a PHP webprogramozó tanfolyammal kapcsolatban? Keress fel minket Bátran elérhetőségeinken!</h6>

                    <div class="erdeklodj" style="margin-bottom: 25px;margin-top: 25px;">
                        <p>Telefonszám: 06 20 243 1155, 06 30 349 4963 </p>
                        <p>E-mail: oktatas@workinghunter.com</p>
                    </div>

                    @Html.ActionLink("Jelentkezés", "jelentkezes_informatikai_tanfolyamra","InformatikaiTanfolyamok", new { tanfolyam = "php80atipikus" }, new { tanfolyam = "php80atipikus" })
                  

</div>

            <div class="col-sm-4">
                @Html.Partial("_TanfolyamOldalsoMenu")


            </div>


        </div>





    </div>

</div>